{{#each erros}}
    <div class="alert alert-danger" role="alert">{{texto}}</div>
{{/each}}

<div class="card">
  <div class="card-header">
        Editar Categoria
    </div>
    <div class="card-body">
        <form action="/admin/categorias/edit" method="post">
        <input type="hidden" name="id" value={{categoria._id}}>
            <label for="nome">Nome: </label>
                <input type="text" name="nome" id="nome" value="{{categoria.nome}} "class="form-control">
            <label for="slug">Slug: </label>
                <input type="text" name="slug" id="slug" value="{{categoria.slug}}" class="form-control">
                <br>
            <button type="submit" class="btn btn-success">Salvar alterações</button>
        </form>
    </div>
</div>