{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{/each}}

<div class="card">
    <div class="card-body">
    <h3>Crie sua conta:</h3>
        <form action="/usuario/registro" method="post">
            <label for="nome">Nome: </label>
                <input type="text" name="nome" class="form-control" required placeholder="Nome de usuario">
            <label for="email">Email: </label>
                <input type="text" name="email" class="form-control" required placeholder="exemplo@email.com...">
            <label for="senha">Senha: </label>
                <input type="password" name="senha" class="form-control" required placeholder="Crie sua senha">
            <label for="senha2">Confirme a senha: </label>
                <input type="password" name="senha2" class="form-control" required placeholder="Confirme sua senha">
            <button type="submit" class="btn btn-success mt-4">Criar conta</button>
        </form>
    </div>
</div>