<h4>Lista de Categorias:</h4>
{{#each categorias}}
<div class="card mt-1">
    <div class="card-body">
        <a href="/categorias/{{slug}}">{{nome}}</a>
    </div>
</div>
{{else}}
Nenhuma categoria registrada
{{/each}}